/* You can add global styles to this file, and also import other style files */
.test-style {
  padding: 5%;
  margin: 2%;
  background-color: darkslategray;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
